/* src/components/MovieBox.css */
.movie-box {
    width: 23%;
    margin: 1%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
.movie-box img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.movie-details {
    margin-top: 10px;
    text-align: center;
}

.movie-details h3 {
font-size: 1.2em;
margin: 0.5em 0;
}

.movie-details p {
    margin: 0.2em 0;
    font-size: 0.9em;
}
